#slider-cost,
#slider-initial,
#slider-time {
  height: 2px;
  margin: 0 41px 0 24px;
  border: none;
  .noUi-base {
    height: 2px;
  }
  .noUi-connect {
    background: #ff9514;
  }
  .noUi-handle {
    height: 20px;
    width: 20px;
    top: -9px;
    border-radius: 50%;
    border: none;
    background: #ff9514;
    box-shadow: none;
    transition: transform 0.1s;
    cursor: pointer;
    &::before,
    &::after {
      display: none;
    }
    &:hover {
      transform: scale(1.2);
    }
  }
}

#slider-cost,
#slider-initial,
#slider-time .noUi-target {
  border: none;
  background: inherit;
  box-shadow: none;
}
